.FieldGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

@media screen and (max-width: 600px) {
    .FieldGroup {
        display: block;
    }
}